@media(min-width:1601px) and (max-width:2400px)
      {
        
      }










.span
{
    color: #ff6200;

}
.span1
{
    color: rgb(47, 44, 29);
}
.span2
{
    color: darkolivegreen;
}
.pro
{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.hr
{
    color: rgb(144, 255, 255);
}
.nav
{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.main
{

 background:linear-gradient(#A1D6B2,#e1ff90,#a2fde9,#fff9ef) ;
}
.image
{
    display: flex;
    justify-content: center;
}
.nav1 > .image
{
    display: flex;
    flex-direction: row;
  float: left;
 margin-left: 40px;
 border-radius: 90px;
   /*display: flex;
   flex-direction: row;
   justify-content: center;*/
   
}
.h3
{
    margin-left: 500px;
    margin-top: px;
}
.spin
{
 color: rgb(34, 26, 15);
    font-size: 3rem;
}
.at
{
    color: blueviolet;
    font-size: 2rem;
}
.large
{
    color: rgb(199, 86, 86);
    
}

.nav2
{
    
margin-left: 100px;



}
footer
{
    display: flex;
    justify-content: center;
}
.C{
    color: gray;
    margin-left: 10px;
    }
